<div class="container">
  <div class="row">
    <div class="col-12 justify-content-center">
      <div class="footer-links">
        <a class="footer-link" href="https://www.twitter.com/eSalt_team">Twitter</a>
        <a class="footer-link" href="https://www.youtube.com/c/eSalt">Youtube</a>
        <a class="footer-link" href="https://www.twitch.tv/eSaltTV">Twitch</a>
        <a class="footer-link" href="https://www.pyroheberg.fr/">Hébergé par PyroHeberg.fr ❤️</a>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="wave"></div>
  <div class="wave"></div>
</div>