/* Footer */

.section-padding {
  padding: 40px 0;
}

.bottom {
  background: linear-gradient(45deg, rgba(210, 129, 0, 1) 0%, rgba(255, 199, 0, 1) 100%);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottom a {
  padding-left: 2.5em;
  padding-right: 2.5em;
  margin-bottom: 0;
  line-height: 50px;
  font-weight: 600;
  font-size: .9rem;
  opacity: .5;
  color: white !important;
  transition: .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.bottom a:hover {
  text-decoration: none;
  opacity: 1;
  letter-spacing: 1.5px;
  text-shadow: 0 3px 5px rgba(0, 0, 0, .1);
}

/*.footer {
  line-height: 15%;
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(45deg, rgba(210, 129, 0, 1) 0%, rgba(255, 199, 0, 1) 100%);
}

::ng-deep html,
::ng-deep body {
  height: 100%;
}

::ng-deep body {
  overflow: hidden !important;
}

.footer-links {
  display: inline;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -260px;
  z-index: 1;
}*/

.footer-link {
  /*margin: 0 50px;*/
  font-weight: 600;
  font-size: .9rem;
  opacity: .5;
  color: white !important;
  transition: .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.footer-link:hover {
  text-decoration: none;
  opacity: 1;
  letter-spacing: 1.5px;
  text-shadow: 0 3px 5px rgba(0, 0, 0, .1);
}

/*COMMENT UNTIL FIX

.wave {
    background: url(../../../assets/img/wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -175px;
    -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@-webkit-keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@-webkit-keyframes swell {
    0%,
    100% {
        -webkit-transform: translate3d(0, -25px, 0);
        transform: translate3d(0, -25px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
}

@keyframes swell {
    0%,
    100% {
        -webkit-transform: translate3d(0, -25px, 0);
        transform: translate3d(0, -25px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
}*/
