@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.navbar {
  padding: 1.5rem 0 5rem 0;
}

.navbar-light .navbar-toggler {
  color: #373B46 !important;
  border: none;
}

.navbar-brand {
  font-family: 'Upbolters-New-Italic';
  text-transform: uppercase;
  font-size: 3rem;
}

.badge,
.nav-link {
  font-weight: 600;
  font-size: 0.8rem;
}

.badge {
  text-transform: none;
  padding: .4em;
  color: white !important;
  text-shadow: 0 3px 5px rgba(0, 0, 0, .25);
}

.badge-title {
  margin-left: .75rem;
  vertical-align: 100%;
  background: rgb(210, 129, 0);
  background: -moz-linear-gradient(45deg, rgba(210, 129, 0, 1) 0%, rgba(255, 199, 0, 1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(210, 129, 0, 1) 0%, rgba(255, 199, 0, 1) 100%);
  background: linear-gradient(45deg, rgba(210, 129, 0, 1) 0%, rgba(255, 199, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d28100', endColorstr='#ffc700', GradientType=1);
}

.nav-link {
  font-size: .9rem;
  color: #A8B0C7 !important;
  transition: .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.nav-link:hover {
  color: #373B46 !important;
  letter-spacing: .1rem;
}

i {
  color: #A8B0C7 !important;
}

.avatar {
  height: 2.25em;
  width: 2.25em;
  cursor: pointer;
}
