<div class="container">
  <app-navbar></app-navbar>
  <div class="row">
    <div class="col-12 col-md-6">
      <img src="../../assets/img/flying-island.png" class="img-fluid" alt="Flying island">
    </div>
    <div class="col-12 col-md-6 v-align">
      <span class="title">Hamouk – Le plus salé des serveurs</span>
      <p>Ouais c'est pas une blague, t'es vraiment sur le site du serveur minecraft<br />de la eSalt. <span>M-D-R ( ͡°
          ͜ʖ ͡°)</span>
      </p>
      <div class="status-card w-100">
        <div class="row justify-content-center">
          <div class="card-col">
            <div class="online-indicator">
              <span class="blink"></span>
            </div>
            <span id="online-players">13/100</span>
          </div>
          <div class="card-col">
            <div class="name">
              <span class="secondary">Nom : </span><span>SERVEUR ULTRA LOURD by PyroHeberg.fr</span>
            </div>
          </div>
          <div class="card-col">
            <div class="port">
              <span class="secondary">Port : </span><span>55555</span>
            </div>
          </div>
          <div class="card-col">
            <div class="ping">
              <span>30</span>ms
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>