<div class="container">
  <app-navbar></app-navbar>
  <div class="row">
    <div class="col-12 col-md-5">
      <span class="title-secondary">Statut des serveurs</span>
      <div class="underline"></div>
      <img src="../../assets/img/fighting-crew.png" class="img-fluid" alt="Fighting crew">
    </div>
    <div class="col-12 offset-md-1 col-md-6">
      <div class="server-list v-align">
        <div class="server-card w-100">
          <div class="row justify-content-center">
            <div class="card-col">
              <div class="online-indicator">
                <span class="blink"></span>
              </div>
              <span id="online-players">13/100</span>
            </div>
            <div class="card-col">
              <div class="name">
                <span class="secondary">Nom : </span><span>SERVEUR ULTRA LOURD by PyroHeberg.fr</span>
              </div>
            </div>
            <div class="card-col">
              <div class="port">
                <span class="secondary">Port : </span><span>55555</span>
              </div>
            </div>
            <div class="card-col">
              <div class="ping">
                <span>30</span>ms
              </div>
            </div>
          </div>
        </div>
        <div class="server-card w-100">
          <div class="row justify-content-center">
            <div class="card-col">
              <div class="online-indicator">
                <span class="blink"></span>
              </div>
              <span id="online-players">13/100</span>
            </div>
            <div class="card-col">
              <div class="name">
                <span class="secondary">Nom : </span><span>SERVEUR ULTRA LOURD by PyroHeberg.fr</span>
              </div>
            </div>
            <div class="card-col">
              <div class="port">
                <span class="secondary">Port : </span><span>55555</span>
              </div>
            </div>
            <div class="card-col">
              <div class="ping">
                <span>30</span>ms
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
