<div class="container">
  <app-navbar></app-navbar>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="v-align">
        <span class="title-secondary">À propos</span>
        <div class="underline"></div>
        <p>Au départ ce serveur c'était juste une blague qu'on avait tweeté pour déconner.</p>
        <p>Puis y'a eu beaucoup de monde à répondre présent si jamais cette blague devenait réalité.</p>
        <p>Donc on l'a fait. <span>M-D-R (
            ͡°
            ͜ʖ ͡°)</span></p>
      </div>
    </div>
    <div class="col-12 offset-md-1 col-md-5">
      <img src="../../assets/img/swimming-duo.png" class="img-fluid" alt="Swimming duo">
    </div>
  </div>
</div>
<app-footer></app-footer>
