/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Upbolters-New;
    src: url(assets/fonts/upboltersnew-regular.otf);
}

@font-face {
    font-family: Upbolters-New-Italic;
    src: url(assets/fonts/upboltersnew-regular-italic.otf);
}

* {
    font-family: 'Montserrat', 'Segoe UI', Arial, Helvetica, sans-serif;
}

button:focus {
    outline: none;
}

.container {
    padding-right: 50px;
    padding-left: 50px;
}