<div class="container">
  <app-navbar></app-navbar>
  <div class="row">
    <div class="col-12 col-md-6">
      <img src="../../assets/img/flying-island.png" class="img-fluid" alt="Flying island">
    </div>
    <div class="col-12 offset-md-1 col-md-5">
      <div class="v-align">
        <span class="title">Hamouk – Le plus salé des serveurs</span>
        <p>Ouais c'est pas une blague, t'es vraiment sur le site du serveur minecraft<br />de la eSalt. <span>M-D-R (
            ͡°
            ͜ʖ ͡°)</span></p>
        <a href="../../assets/misc/Hamouk.exe">
          <button class="btn button-download">
            <span>Launcher <i class="fas fa-arrow-down"></i></span>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
