<div class="container">
  <app-navbar></app-navbar>
  <div class="row">
    <div class="col-12 col-md-6">
      <img src="../../assets/img/flying-island.png" class="img-fluid" alt="Flying island">
    </div>
    <div class="col-12 col-md-6 v-align padding">
      <span class="title">Hamouk – Le plus salé des serveurs</span>
      <p>Ouais c'est pas une blague, t'es vraiment sur le site du serveur minecraft<br />de la eSalt. <span>M-D-R ( ͡°
          ͜ʖ ͡°)</span></p>

      <button class="btn">
        <span>Launcher <i class="fas fa-arrow-down"></i></span>
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>